<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>burger_list</title>
  </head>
  <body>
    <div class="container">
​
      <div class="starter-template">
        <h1>Show all burgers</h1>

        <div class="wrapper">
          <ol>
          <% for(var i = 0; i < data.length; i++) { %>

              <li><%= data[i].name %></li>
    <!--               <li><%= data[i].meat %></li>
              <li><%= data[i].temperature %></li>
              <li><%= data[i].cheese %></li>  -->

          <% } %>
          </ol>
      </div>
    </div>
  </body>
</html>
